/public/uploads/avatars/*
!/public/uploads/images/
/storage/app/*
/dev/*
/trial/*
/google8691d50d4a0e5c5c.html
/cpp/*
/.env
/.htaccess
/pma/*
/public/multiprofile/*
/resources/lang/*
/resources/lang/*.json
/resources/lang/en.json
/resources/lang/fr.json
/resources/lang/it.json
/resources/lang/pl.json
/storage/debugbar/*
/ads.txt 
/robots.txt 
/public/deletedPDF/*
/vendor
/storage/*.key
/storage/app/public
/storage/framework/cache/data

/vendor
/public/uploads.zip
/assets/img/*.mp4
/public/uploads/videos/*.mp4
/node_modules
/public/*
.env
*.log
node_modules
node_modules
node_modules
/public/vendor/
/public/uploads/
