/*------------- Variable ------------*/

:root {
  --iq-primary: #4895d1;
  --iq-primary-hover: #45c5e1;
  --iq-light-primary: #d7d3f8;
  --iq-secondary: #6c757d;
  --iq-white: #ffffff;
  --iq-black: #000000;
  --iq-title-text: #23203c;
/*  --iq-body-text: #D1D0CF;*/
  --iq-body-bg: #fff;
  --iq-bg1: #191919;
  --iq-body-border: #393750;
  --iq-gold: #E6C75F;
  --iq-black: #000000;
    --A1_COLOR: #192133;
    --A2_COLOR: #334366;
    --A3_COLOR: rgba(34, 167, 240, 1);
    --A4_COLOR: rgba(34, 167, 240, 1);
      --iq-body-bg1: rgba(36, 37, 42, 1);

}
