.text-primary {
    color: var(--iq-primary) !important;
}
button.btn.btn-outline-secondary.text-white.font-weight-bold.w-100 {
    border-radius: 0 !important;
    height: 100%;
}
section.video-sections{background-color: #191919;}

details > summary { list-style: none; }
details > summary::-webkit-details-marker {display: none;}
details {border-bottom: 1px solid; margin-top: 1rem;}
h3.vid-title { border-bottom: 1px solid;}
i.fa.fa-caret-down { color: var(--iq-primary); margin-right: 16px; font-size: 20px;}
.virtually { margin-top: 6rem;}
.flim-wanted { margin-top: 6rem;}
.flim-wanted h6.text-center.font-weight-bold {line-height: 1.8;}
li.nav-item.nav-icon.profile-icons.search-opacity { display: none;}
li.nav-item.nav-icon.profile-icons.ml-2.signup-mob-res { display: none;}

/* Responsive */

@media(max-width:767px) {
    p.container-fluid.text-center.mt-5 {
        font-size: 15px;
    }
    h5.font-weight-bold.text-center.text-primary.mt-5{
        font-size: 16px;
    }
}

@media (max-width:650px){
    p.container-fluid.text-center.mt-5 {
        font-size: 14px;
    }
    h5.font-weight-bold.text-center.text-primary.mt-5{
        font-size: 14px;
    }
}
@media (max-width:520px){
    p.container-fluid.text-center.mt-5 {
        font-size: 12px;
    }
    h5.font-weight-bold.text-center.text-primary.mt-5{
        font-size: 12px;
    }
    h6.text-center {
        font-size: 11px;
    }
    h3.vid-title.mt-4.pb-2 {
        font-size: 18px;
    }
    span.d-flex.justify-content-between {
        font-size: 14px;
    }
    details p{font-size: 13px;}
}