.text-primary {
    color: var(--iq-primary) !important;
}
button.btn.btn-outline-secondary.text-white.font-weight-bold.w-100 {
    border-radius: 0 !important;
    height: 100%;
}


/* Responsive */

@media(max-width:767px) {
    p.container-fluid.text-center.mt-5 {
        font-size: 15px;
    }
    h5.font-weight-bold.text-center.text-primary.mt-5{
        font-size: 16px;
    }
}

@media (max-width:650px){
    p.container-fluid.text-center.mt-5 {
        font-size: 14px;
    }
    h5.font-weight-bold.text-center.text-primary.mt-5{
        font-size: 14px;
    }
}
@media (max-width:520px){
    p.container-fluid.text-center.mt-5 {
        font-size: 12px;
    }
    h5.font-weight-bold.text-center.text-primary.mt-5{
        font-size: 12px;
    }
}