.vpageBanner {
    width: 100%;
    background-color: var(--black);
    padding-top: 20px;
    margin-bottom: 50px;
}

.vpageBanner .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
    overflow: hidden;
}

.vpageBanner .backdrop-img .lazy-load-image-background {
    width: 100%;
    height: 100%;
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
    filter: blur(0);
    transition: filter .3s;
}

.lazy-load-image-background.blur {
    filter: blur(15px);
}

.vpageBanner .backdrop-img .lazy-load-image-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.lazy-load-image-background.blur.lazy-load-image-loaded>img {
    opacity: 1;
    transition: opacity .3s;
}

.lazy-load-image-background.blur>img {
    opacity: 0;
}

.vpageBanner .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #050505 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
}

.pageWrapper {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 66px;
}

.vpageBanner .content {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
}

.vpageBanner .content .left {
    flex-shrink: 0;
}

.vpageBanner .content .left .posterImg {
    width: 100%;
    display: block;
    border-radius: 12px;
}

.vpageBanner .content .right {
    color: #fff;
}

.vpageBanner .content .right .title {
    font-size: 28px;
    line-height: 40px;
}
.vpageBanner .content .right .utilities {
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.vpageBanner .content .right .utilities i {
    font-size: 5px;
    margin: 0 10px;
    color: #848484;
}

.vpageBanner .content .right .subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: .5;
}

.genres {
    display: flex;
    gap: 5px;
}

.vpageBanner .content .right .genres {
    margin-bottom: 15px;
    flex-flow: row wrap;
}

.genres .genre {
    padding: 0px 10px 0px 0;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    border-right: 2px solid #848484;
}
.genres .genre:last-child { border-right: 0px solid #848484; }

.vpageBanner .content .right  .plays_btn_res  {
    display: flex;
    align-items: center;
    gap: 25px;
    /* margin-bottom: 25px; */
}

.circleRating {
    background-color: var(--black);
    border-radius: 50%;
    padding: 2px;
}
.circleRating svg.CircularProgressbar{
    width: 63px;
}

.vpageBanner .content .right .circleRating {
    max-width: 70px;
    background-color: var(--black2);
}

.vpageBanner .content .right .circleRating {
    max-width: 90px;
}

.CircularProgressbar {
    width: 63px;
    vertical-align: middle;
}

.circleRating .CircularProgressbar-trail {
    stroke: transparent;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
    stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: round;
    -webkit-transition: stroke-dashoffset .5s ease 0s;
    transition: stroke-dashoffset .5s ease 0s;
}

.vpageBanner .content .right .circleRating .CircularProgressbar-text {
    fill: #fff;
}

.circleRating .CircularProgressbar-text {
    font-size: 34px;
    font-weight: 700;
    fill: var(--black);
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.vpageBanner .content .right .playbtn {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.vpageBanner .content .right svg {
    height: auto;
}

.vpageBanner .content .right .playbtn svg {
    width: 60px;
    height: auto;
}

.vpageBanner .content .right .playbtn .triangle {
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: #fff;
    transform: translateY(0);
    transition: all .7s ease-in-out;
}

.vpageBanner .content .right .playbtn .text {
    font-size: 20px;
    transition: all .7s ease-in-out;
    /* text-transform: uppercase; */
}

.vpageBanner .content .right .overview {
    margin-bottom: 25px;
}

.vpageBanner .content .right .overview .description {
    line-height: 24px;
    padding-right: 100px;
}


.vpageBanner .content .right .overview .heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.vpageBanner .content .right .info {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 15px 0;
    display: flex;
}

.vpageBanner .content .right .info .text {
    margin-right: 10px;
    opacity: .5;
    line-height: 24px;
}

.videoPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}

.videoPopup .opacityLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    opacity: 0;
    transition: opacity .4s;
}

.videoPopup .videoPlayer {
    position: relative;
    width: 800px;
    aspect-ratio: 16/9;
    background-color: #fff;
    transform: scale(.2);
    transition: transform .25s;
}

.videoPopup .videoPlayer .closeBtn {
    position: absolute;
    top: -20px;
    right: 0;
    color: #fff;
    cursor: pointer;
}

.sectionArtists {
    position: relative;
    margin-bottom: 50px;
}

.pageWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.sectionArtists .artistHeading {
    font-size: 24px;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 45px;
}

.sectionArtists .listItems {
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
}

.sectionArtists .listItems .listItem {
    text-align: center;
    color: #fff;
}

.sectionArtists .listItems .listItem .profileImg {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}

.sectionArtists .listItems .listItem .profileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
}

.sectionArtists .listItems .listItem .name {
    font-size: 18px;
    line-height: 24px;
}

.sectionArtists .listItems .listItem .name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.sectionArtists .listItems .listItem .character {
    font-size: 14px;
    line-height: 20px;
    opacity: .5;
}
ul.breadcrumb.breadcrumb-csp{
    background-color: transparent !important;
}
.breadcrumb{
    background-color: transparent;
}
li.breadcrumb-item a{
    color: #fff;
}

@media (min-width: 1400px) and (max-width: 2565px) {
    .my-video.vjs-fluid {
        height: 50vh !important;
    }
    .video-js-trailer-modal-dialog {
        max-width: 1400px;
    }
}


@media only screen and (min-width: 768px) {
    .vpageBanner {
        margin-bottom: 0;
        padding-top: 30px;
        /* min-height: 700px; */
    }

    .vpageBanner .content {
        gap: 50px;
        flex-direction: row;
    }

    .vpageBanner .content .left .posterImg {
        max-width: 350px;
    }

    .vpageBanner .content .right .title {
        font-size: 34px;
        line-height: 44px;
    }

    .vpageBanner .content .right .subtitle {
        font-size: 14px;
        line-height: 22px;
    }

    .vpageBanner .content .right .playbtn svg,.vpageBanner .content .right svg {
        width: 40px;
    }

    .vpageBanner .content .right .overview .heading {
        font-size: 24px;
    }

    .vpageBanner .content .right .overview .description {
        padding-right: 10px;
    }

    .sectionArtists .listItems {
        margin: 0;
        padding: 0;
    }

    .sectionArtists .listItems .listItem .profileImg {
        width: 120px;
        height: 120px;
        margin-bottom: 25px;
    }

    .sectionArtists .listItems .listItem .name {
        font-size: 16px;
        line-height: 24px;
    }

    .sectionArtists .listItems .listItem .character {
        font-size: 14px;
        line-height: 24px;
    }
}

/* Broadcast */



.titleoverflow{
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 115px;
}
.traileroverflow{
    display: block;
}

@media (max-width:1600px){
    .modal-dialog{ max-width: 700px;}
}

@media (max-width:920px){
    .modal-dialog{ max-width: 600px;}
}

@media (max-width:765px){
    .vpageBanner .content{
        gap: 0px;
    }
    .vpageBanner .content .right .row{
        margin-bottom: 0;
        gap: 10px;
    }
    .vpageBanner .content .right .genres{
        margin-bottom: 10px;
    }
    .vpageBanner .content .right .playbtn{
        width: 117px;
    }


    .vpageBanner .content .right .subtitle{
        margin-bottom: 6px;
    }
    .vpageBanner .content .right .subtitle p{
        margin-bottom: 0px;
    }
    .vpageBanner .content .right .overview .description{
        padding-right: 0px;
    }
    .vpageBanner .content .right .overview .heading{
        font-size: 21px;
    }
    .pageWrapper{padding:0 25px;}
    .modal-dialog{ max-width: 600px;}
    .vpageBanner .content .right .playbtn .text{font-size: 13px;}
    .col-sm-7.col-12.details{padding: 0;}
    .descript {white-space: normal;word-wrap: break-word;}
    h3#price-display{font-size: 1.2em;}
    .col-8{padding: 0;}
    .quality-options-group{display: flow;}
}

@media (max-width:425px){
    .share-icons.music-play-lists .sharemobres{
        margin: 0px;
    }
    .circleRating svg.CircularProgressbar{
        width: 48px;
    }

}
